@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.intern-title:hover{
}

.item-menu{
    transition: transform;
}

.item-menu:hover{
    transform: 150% !important;
    background-color: #F0F8FF;
}

.item-menu > a:hover{
    text-decoration: none;
}

.link-menu{
    text-decoration: none !important;
    color: black;
}

.btn-small{
    width: 10vh;
}

.btn-close{
    background-color: red;
}

.btn-set{
  background-color: #87CEFA;
}

.drag-area{
    border: 4px dashed rgb(119, 136, 153);
    height: 150px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: left;
    animation: border-dance 4 infinite linear;
  }

  @keyframes border-dance {
    0% {
      background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
    }
    100% {
      background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
    }
  }
  .drag-area.active{
    border: 2px solid black;
  }
  .drag-area .icon{
    font-size: 35px;
    color:  #776ff3;
  }
  .drag-area header{
    font-size: 15px;
    font-weight: 500;
    color: black;
  }

  .drag-area button{
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #776ff3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .btn-add{
   float: right !important;
  }

  .link-icon{
   transition: transform;
  }

  .link-icon:hover{
    transform: 150% !important;
    color: pink;
  }

  .nav-link:hover{
    border-bottom: 3px solid #776ff3;
    padding: 6px 0; 
  }

  .link-icon-comment{
    transition: transform;
  }

  .link-icon-comment:hover{
    transform: 150%;
    background-color: chocolate;
  }

  .card-header-background{
    background-color: #87CEFA;
  }

  .title-name{
    font: medium;
    color: white;
  }

  .card-menu-left{
    background: linear-gradient(to right, #33539e, #acc0fe);
  }

  .card-menu-center{
    background: linear-gradient(to right, #33539e, #554fad);
  }

  .card-menu-right{
    background: linear-gradient(to right, #acc0fe, #33539e);
  }

  .btn-main{
    background-color: #5584AC;
  }

  .justify{
    text-align: justify;
  }

  .btn-cat{
    border-radius: 12px;
    padding: 8px 8px;
    background-color: none;
    border: 3px solid;
    color: #87A7B3;
    font-size: 11px;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 10px;
  }

  .textarea{
    width: 100%;
    height: 200px;
    padding: 7px 21px;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
  }

  .identity-text{
    font-size: 14px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  .heading {
    font-size: 16px;
    font-weight: bold;
  }

  .sub-heading {
    font-size: 15px;
    font-weight: 700;
    margin-top: -10px;
  }

  .sub-content {
    font-size: 14px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
  }

  .text-desc{
    font-family: 'Montserrat' !important;
    font-weight: 400;
  }